<%= form_for [:admin, @product], {html: {roll: 'form'}} do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :price %>
    <%= f.text_field :price, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class:'form-control' %>
  </div>

    <%= f.submit %>
<% end %><br>

<% for error in @product.errors.full_messages %>
  <div class="error"><%= error %></div>
<% end %><br>


<a href="<%= admin_products_path %>">Go Back to Index</a>


<!-- <% if @product.errors.full_messages.present? %>
  <div class="notice"><%= @product.errors.full_messages %></div>
<% end %> -->
