<h1>Products</h1>

<!-- <% if flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> -->

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Created At</th>
  </tr>

  <tr>
    <td><%= @product.id %></td>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= @product.created_at %></td>
    <td><%= image_tag @product.image_url, alt: @product.image_url %></td>
  </tr>

<a href="<%= edit_admin_product_path %>">Edit Product</a>

</table>
